
/*Elements*/
html{
	margin:0px;
	padding:0px;
}

body{
	margin:0px;
	padding:0px;
	font-family:sans-serif;
	font-size:11px;
	color:#333333;
	background: url(images/background.jpg) repeat-x;
	
	background-attachment:fixed;
}

a:link {
	color: #94247A;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #94247A;
}
a:hover {
	text-decoration: underline;
	color: #94247A;
}
a:active {
	text-decoration: none;
	color: #94247A;
}


/* Menu */

#menu 
{
    background-color:#990000;
	width: 900px;
	height: 150px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a
{
    display: block;
    float: left;
    padding: 10px 20px 0 20px;
    background: url(images/img03.gif) no-repeat;
    text-transform: uppercase;
    text-decoration: none;
    font: bold 12px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #D8D8D8;
}

#menu a:hover {
	color: #FFFFFF;
}

#menu .first a {
	background: none;
}


/*End Elements*/


#dash
{
    
	width: 760px;
	height: 700;

	
}

#dash ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#dash li {
	display: inline;
}

#dash a
{
    display: block;
    float: left;
    padding: 10px 20px 0 20px;
 

	width: 760px;
	height: 150px;
	margin: 0 auto;
}

#dash ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#dash li {
	display: inline;
	
	
	
}

#dash a
{
    display: block;
    float: left;
    padding: 10px 20px 20px 20px;
    background: url(img/Untitled-1.jpg) no-repeat;
    text-transform: uppercase;
    text-decoration: none;
    font: bold 10px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #000000;
    padding-top:90px;
    padding-left:30px;
    padding-right:30px;
    
}

#dash a:hover {
	color: #FFFFFF;
}

#dash .first a {
	background: none;
}


#dash a:hover {
	color: #FFFFFF;
}

#dash .first a {
	background: none;
}

/*Text Styles*/

.footerstyle{
	color:#fff;
	font-family:Arial, sans-serif;
	font-size:10px;
	text-align:left;
	text-decoration:none;
}

a.inicioLink {
	color:#fff;
	font-family:Arial, sans-serif;
	font-size:10px;
	text-align:left;
	text-decoration:none;
}

a.inicioLink :link{
	color:#fff;
	font-family:Arial, sans-serif;
	font-size:10px;
	text-align:left;
	text-decoration:none;
}

a.inicioLink :visited{
	color:#fff;
	font-family:Arial, sans-serif;
	font-size:10px;
	text-align:left;
	text-decoration:none;
}

a.inicioLink :hover{
	color:#fff;
	font-family:Arial, sans-serif;
	font-size:10px;
	text-align:left;
	text-decoration:underline;
}

a.inicioLink :active{
	color:#fff;
	font-family:Arial, sans-serif;
	font-size:10px;
	text-align:left;
	text-decoration:none;
}

/*End of Text Styles*/

/*Containers*/
#main{
	text-align:left;
	width:769px;
	height:490px;
	margin-top:20px;
	padding:0px;
}

#banner{
	margin:0px;
	padding:0px;
	height:102px;
	background-image:url('img/banner_leonel2008.jpg');
	background-color:#fff;

}

#container1{
	margin:0px;
	padding:0px;
	height:340px;
	background-color:#fff;

}

#space{
margin:0px;
float:left;
width:100px;
height:340px;
}
#top{
	margin-top:10px;
	text-align:center;
	float:left;
	padding:0px;
	width:578px;
	height:161px;
	background-image:url('img/consulta3.jpg');
	background-repeat:no-repeat;
}

#booton1{
	margin-top:14px;
	text-align:center;
	float:left;
	padding:0px;
	width:267px;
	height:135px;
	background-image:url('img/boleta3.jpg');
	background-repeat:no-repeat;
}

#booton2{
	margin-top:14px;
	text-align:center;
	float:left;
	margin-left:45px;
	padding:0px;
	width:267px;
	height:135px;
	background-image:url('img/acceda6.jpg');
	background-repeat:no-repeat;
}

#abajo{
float:left;
margin:0px;
padding:0px;
width:769px;
height:12px;
background-image:url('img/abajo.gif');
background-repeat:no-repeat;
}

#Footer_main{
	margin-top:7px;
	padding:opx;
	height:28px;
	width:769px;
	}

#footer_left{
	margin-left:3px;
	margin-top:2px;
	margin-bottom:2px;
	padding:0px;
	height:20px;
	width:550px;
	float:left;
	color:#fff;
	font-family:Arial, sans-serif;
	font-size:10px;

}

#footer_right{
	margin-right:3px;
	margin-top:2px;
	margin-bottom:2px;
	padding:0px;
	height:20px;
	width:120px;
	float:right;
	color:#fff;
	font-family:Arial, sans-serif;
	font-size:10px;
	text-align:right;
}
/*End of Containers*/